---
import { getCollection } from "astro:content";
import { Image, getImage } from "astro:assets";

import Layout from "../layouts/Layout.astro";

import Divider from "../components/Divider.astro";
import HeadingAnchor from "../components/HeadingAnchor.astro";
import ProjectDescription from "../components/ProjectDescription.astro";
import Footer from "../components/Footer.astro";

import portrait from "../assets/portrait.jpg";
import top_left_tape from "../assets/tape/top_left.png";
import bottom_right_tape from "../assets/tape/bottom_right.png";

import "react-photo-album/columns.css";
import PhotoAlbum from "../components/PhotoAlbum";
import exifr from "exifr";

const projects = await getCollection("projects");

async function getPhotos() {
  let image_paths = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/photos/**/*.*"
  );

  let image_with_data = await Promise.all(
    Object.entries(image_paths).map(async ([path, image]) => {
      return { image, data: await exifr.parse(path.slice(1)) };
    })
  );

  let sorted_images = image_with_data
    .sort(
      (a, b) =>
        new Date(a.data.CreateDate).getTime() -
        new Date(b.data.CreateDate).getTime()
    )
    .reverse()
    .map(({ image }) => image);

  return await Promise.all(
    sorted_images.map(async (img) => {
      const original = (await img()).default;
      const optimized = await getImage({
        src: original,
        width: 1200,
        format: "webp",
        quality: 80,
      });
      return {
        ...optimized,
        width: original.width,
        height: original.height,
      };
    })
  );
}

let photos = await getPhotos();
---

<Layout>
  <header>
    <h1 class="text-hero text-center my-24 text-pine font-header font-bold">
      Renn Gilbert
    </h1>
  </header>
  <main>
    <section>
      <HeadingAnchor headerId="about" label="Permalink: About">
        <h2
          class="text-heading font-bold text-pine font-header inline-block"
          id="about"
        >
          About Me
        </h2>
      </HeadingAnchor>
      <div class="float-end ml-6 mb-6 relative">
        <Image
          src={portrait}
          alt="Portrait of Renn Gilbert"
          class="aspect-square rounded-xl shadow-md object-cover max-w-80"
          loading="eager"
        />
        <Image
          src={top_left_tape}
          alt=""
          class="absolute -top-10 -left-10 opacity-50"
          loading="eager"
        />
        <Image
          src={bottom_right_tape}
          alt=""
          class="absolute -bottom-8 -right-8 opacity-50"
          loading="eager"
        />
      </div>
      <p class="text-pine-dark text-base/8 mb-4">
        Hi, I'm an undergraduate computer science student from Centennial, CO,
        currently studying at the Colorado School of Mines. I spend my free time
        running, <a
          href="https://www.worldcubeassociation.org/persons/2019GILB03"
          class="text-pine underline">practicing speedcubing</a
        >, and building interesting software!
      </p>
      <p class="text-pine-dark text-base/8">
        I love attending hackathons (check out my <a
          href="https://devpost.com/Kylo33"
          class="text-pine underline">Devpost profile</a
        >!) because they are an incredible way to learn new skills and meet new
        people, and I plan to attend many more in the rest of my time at Mines.
      </p>
    </section>
    <Divider />
    <section>
      <HeadingAnchor headerId="projects" label="Permalink: Projects">
        <h2 class="text-heading font-bold text-pine font-header" id="projects">
          Projects
        </h2>
      </HeadingAnchor>
      <ul class="flex flex-col gap-y-4">
        {
          projects
            .sort((a, b) => a.data.pubDate.getTime() - b.data.pubDate.getTime())
            .reverse()
            .map((project) => <ProjectDescription project={project} />)
        }
      </ul>
    </section>
    <Divider />
    <section>
      <HeadingAnchor headerId="photos" label="Permalink: Photos">
        <h2 class="text-heading font-bold text-pine font-header" id="photos">
          Photos
        </h2>
      </HeadingAnchor>
      <PhotoAlbum photos={photos} client:load />
    </section>
  </main>
  <Footer />
</Layout>
